It's not that we humans only take debts to manage our necessities. A country may also take debt to manage its economy. For example, infrastructure spending is one costly ingredient required for a country's citizens to lead comfortable lives. [The World Bank](https://www.worldbank.org) is the organization that provides debt to countries.

In this notebook, we are going to analyze international debt data collected by The World Bank. The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories. We are going to find the answers to questions like: 

- What is the total amount of debt that is owed by the countries listed in the dataset?
- Which country owes the maximum amount of debt and what does that amount look like?
- What is the average amount of debt owed by countries across different debt indicators?

Below is a basic schema of the database you will be working with:


| Column | Definition | Data Type |
|-|-|-|
|country_name|Name of the country|`varchar`|
|country_code|Code representing the country|`varchar`|
|indicator_name|Description of the debt indicator|`varchar`|
|indicator_code|Code representing the debt indicator|`varchar`|
|debt|Value of the debt indicator for the given country (in current US dollars)|`float`|

You will execute SQL queries to answer six questions, as listed in the instructions.

In [29]:
--num_distinct_countries
SELECT COUNT(DISTINCT(country_name)) AS total_distinct_countries
FROM international_debt AS num_distinct_countries

   total_distinct_countries
0                       124

In [30]:
--distinct_debt_indicators
SELECT DISTINCT(indicator_name) AS distinct_debt_indicators
FROM international_debt AS distinct_debt_indicators

                             distinct_debt_indicators
0   Principal repayments on external debt, private...
1                       PPG, bonds (INT, current US$)
2   Interest payments on external debt, long-term ...
3                PPG, multilateral (INT, current US$)
4            PPG, commercial banks (AMT, current US$)
5          PPG, official creditors (AMT, current US$)
6                       PPG, bonds (AMT, current US$)
7   Interest payments on external debt, private no...
8                   PPG, bilateral (AMT, current US$)
9           PPG, private creditors (INT, current US$)
10    PPG, other private creditors (DIS, current US$)
11         PPG, official creditors (INT, current US$)
12  Disbursements on external debt, long-term (DIS...
13               PPG, multilateral (DIS, current US$)
14                  PPG, bilateral (INT, current US$)
15         PPG, official creditors (DIS, current US$)
16  Principal repayments on external debt, long-te...
17                  PPG, bilateral (DIS, current US$)
18          PPG, private creditors (AMT, current US$)
19           PPG, commercial banks (DIS, current US$)
20    PPG, other private creditors (INT, current US$)
21               PPG, multilateral (AMT, current US$)
22           PPG, commercial banks (INT, current US$)
23          PPG, private creditors (DIS, current US$)
24    PPG, other private creditors (AMT, current US$)

In [31]:
--total_debt
SELECT ROUND(SUM(debt),2) AS total_debt
FROM international_debt AS total_debt;

     total_debt
0  3.079734e+12

In [32]:
--highest_debt_country
SELECT country_name, ROUND(SUM(debt),2) AS total_debt
FROM international_debt AS highest_debt_country
GROUP BY country_name ORDER BY total_debt DESC
LIMIT 1;

  country_name    total_debt
0        China  2.857935e+11

In [33]:
--avg_debt_per_indicator
SELECT indicator_code AS debt_indicator, indicator_name, ROUND(AVG(debt),2) AS average_debt
FROM international_debt AS avg_debt_per_indicator
GROUP BY indicator_code, indicator_name;

    debt_indicator  ...  average_debt
0   DT.INT.PRVT.CD  ...  7.197402e+08
1   DT.AMT.OFFT.CD  ...  1.191188e+09
2   DT.INT.DLXF.CD  ...  1.644024e+09
3   DT.INT.DPNG.CD  ...  1.220411e+09
4   DT.DIS.PCBK.CD  ...  2.933052e+08
5   DT.AMT.PBND.CD  ...  1.082624e+09
6   DT.DIS.MLAT.CD  ...  8.398437e+08
7   DT.DIS.PRVT.CD  ...  3.113233e+08
8   DT.INT.MLAT.CD  ...  1.362307e+08
9   DT.INT.PBND.CD  ...  8.047334e+08
10  DT.INT.PROP.CD  ...  3.425065e+07
11  DT.DIS.OFFT.CD  ...  1.958983e+09
12  DT.AMT.MLAT.CD  ...  4.900622e+08
13  DT.INT.OFFT.CD  ...  2.976773e+08
14  DT.DIS.PROP.CD  ...  8.113516e+07
15  DT.AMT.PCBK.CD  ...  7.348687e+08
16  DT.DIS.BLAT.CD  ...  1.223139e+09
17  DT.AMT.DLXF.CD  ...  5.904868e+09
18  DT.AMT.PROP.CD  ...  7.468888e+08
19  DT.AMT.PRVT.CD  ...  1.803694e+09
20  DT.AMT.BLAT.CD  ...  7.126196e+08
21  DT.INT.PCBK.CD  ...  1.566476e+08
22  DT.INT.BLAT.CD  ...  1.640933e+08
23  DT.DIS.DLXF.CD  ...  2.152041e+09
24  DT.AMT.DPNG.CD  ...  5.161194e+09

[25 rows x 3 columns]

In [34]:
SELECT country_name, indicator_name, MIN(debt) AS lowest_repayment
FROM international_debt AS lowest_principal_repayment 
WHERE indicator_code='DT.AMT.DLXF.CD'
GROUP BY country_name, indicator_name
ORDER BY lowest_repayment ASC
LIMIT 1;

  country_name  ... lowest_repayment
0  Timor-Leste  ...           825000

[1 rows x 3 columns]